        .button {
            display: inline-block;
            padding: 5px 5px;
            margin-bottom: 5px;
            background-color: #EDBB99 ;
            /* background-color: #FEF9E7 ; */
            color: red;
            font-size: 8px;
            text-decoration: none;
            border: none;
            /* border-radius: 0px; */
            /* font-weight: bold; */
            text-align: right;
            width: 100%;
        }
        .button-popuphead {
          display: inline-block;
          padding: 5px 5px;
          margin-bottom: 5px;
          background-color: #FCFCFC ;
          color: red;
          font-size: 8px;
          text-decoration: none;
          border: none;
          /* border-radius: 0px; */
          /* font-weight: bold; */
          text-align: right;
          width: 100%;
        }
        .button-apply {
            display: inline-block;
            padding: 5px 5px;
            margin-top: 5px;
            /* background-color: #5D6D7E ; */
            color: black;
            font-size: 10px;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
            width: 50%;
        }
        .button-apply:hover {
          background-color: #ABB2B9;
        }
        .button-apply2 {
            display: inline-block;
            padding: 5px 5px;
            margin-top: 4px;
            /* background-color: #5D6D7E ; */
            color: black;
            font-size: 10px;
            text-decoration: none;
            border: none;
            border-radius: 2px;
            font-weight: bold;
            text-align: center;
            width: 50%;
        }
        .button-1 {
            display: inline-block;
            padding: 5px 5px;
            background-color: #5D6D7E ;
            color: #E6B0AA;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            width: 100px;
        }
        .button-menu {
          background: none;
          color: #5D6D7E;
          border: none;
          font-size: 12px;
          font-weight: bold;
          cursor: pointer;
          margin-left: 0px;
        }
        .item-header {
          background-color: #FEF9E7;
          /* background-color: #ddd; */
          padding: 1px;
          /* cursor: move; */
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .item-title {
          font-size: 13px;
          font-weight: bold;
        }

        .item-controls {
          display: flex;
        }



        .container-nav {
            border: 1px dotted grey;
              border-end-end-radius: 15px 15px;
              border-start-end-radius: 15px 15px;
              border-end-start-radius: 15px 15px;
              border-start-start-radius: 15px 15px;
            background-color: #85929E;
            width: 110px;
            text-align: center;
            padding: 5px;
            float: left;
            overflow: hidden; /* Clear the float */
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
        .container-empty {
            width: 0.2%;
            float: left;
            overflow: hidden; /* Clear the float */
        }
        .container-grid0 {
          display: grid;
          grid-template-columns: 130px 1fr;
          gap: 0px; /* Gap between grid items */
          width: 100%;
          height: 1050px;
        }
        .container-grid1 {
          display: grid;
          grid-template-columns: 560px 800px 1fr;
          gap: 0px; /* Gap between grid items */
          width: 100%;
          height: 100%;
        }
        .container-grid2 {
          display: grid;
          grid-template-rows: 1.3fr 1fr;
          gap: 0px; /* Gap between grid items */
          width: 100%;
          height: 100%;
        }
        .container-grid2-2 {
          display: grid;
          grid-template-rows: 3fr 6fr;
          gap: 0px; /* Gap between grid items */
          width: 100%;
          height: 100%;
        }
        .container-grid2-3 {
          display: grid;
          grid-template-columns: 1fr;
          gap: 0px; /* Gap between grid items */
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
        .container-grid2-4 {
          display: grid;
          grid-template-rows: 1fr;
          gap: 0px; /* Gap between grid items */
          width: 100%;
          height: 100px;
          overflow: hidden;
        }
        .container-grid3 {
          display: grid;
          grid-template-columns: 1.1fr 3fr;
          gap: 0px; /* Gap between grid items */
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
        .container-grid3-2 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0px; /* Gap between grid items */
          width: 100%;
          height: auto;
        }




        .item {
          border: 1px solid #ccc;
          padding: 1px;
          text-align: left;
          overflow: hidden;
        }
        .itemC {
          font-family: Arial, sans-serif;
          border: 0px solid #ccc;
          /* padding-left: 20px; */
          /* padding-right: 70px; */
          text-align: left;
          overflow: auto;
        }
        .itemChart {
          border: 0px solid #ccc;
          padding-left: 20px;
          padding-right: 20px;
          text-align: center;
          overflow: auto;
        }




        h1{
          text-align: center;
          margin-top: 15px;
          margin-bottom: 15px;
          font-family: Arial, sans-serif;
          background-color: #2C3E50 ;
          color: #FEF5E7;
        }
        h2{
          text-align: center;
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 10px;
          font-family: Arial, sans-serif;
          background-color: #FEF5E7 ;
          color: #2C3E50;
        }



        /* Style the modal */
        .modal {
          display: none; /* Hide the modal by default */
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0,0,0,0.4); /* Overlay background */
        }

        /* Style the modal content */
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
        }

        /* Style the close button */
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }

      .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1000;

        /* 숨기기 */
        z-index: -1;
        opacity: 0;
      }

      .show {
        opacity: 1;
        z-index: 1000;
        transition: all 0.5s;
      }

      .window {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #FDFAF2  ;
        /* background-color: #F4F6F7  ; */
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
        text-align: center;
        border: 2px solid #ccc;

        /* 임시 지정 */
        width: 100px;
        height: 100px;

        /* 초기에 약간 아래에 배치 */
        transform: translate(-50%, -40%);
        z-index: 10000;
      }
      .legend-container {
            position: absolute;
            bottom: 10px; /* Adjust as needed */
            right: 10px; /* Adjust as needed */
            background-color: white;
            padding: 10px;
            border: 1px solid #ccc;
      }

      .show .popup {
        transform: translate(-50%, -50%);
        transition: all 0.5s;
      }

      body{
      }


      /* Style the modal */
      .modal {
        display: none; /* Hide the modal by default */
        position: absolute; /* fixed, */
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4); /* Overlay background */
      }

      /* Style the modal content */
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }

      /* Style the close button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

          .close:hover,
          .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
          }

      /* Styles for the modal */
      .modal2 {
        display: none;
        position: fixed;
        z-index: 1;
        border: 1px solid #888;
        background-color: white;
      }

      /* Modal content */
      .modal2-content {
        padding: 20px;
        cursor: move;
      }

      /* Close button */
      .close2 {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close2:hover,
      .close2:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

      /* Semi-transparent background for the modal */
      .modal2.active {
        display: block;
        pointer-events: auto; /* Allow the modal to intercept clicks */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        z-index: 2; /* Place the modal above other content */
      }
